@import "../../vars.css";

.container {
  /* width: 20%; */
  width: 451px; 
  height: 440px;
  /* min-width: 361px; */
  min-height: 440px; /* Ensures the container doesn't shrink below this width */
  max-height: 440px; /* Ensures the container maintains height even if content is less */
  /* border: #D32F2F 1px solid; */
}

.detailsButton {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F7F7;
  border-radius: 8px;
  border: 1px solid #D32F2F;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: left;
  margin-bottom: 16px;
}

.column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #FFFFFF;
  border-radius: 13px;
  padding-top: 11px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  height: 440px;
  overflow: hidden;
}

.bookContent {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

.favoriteIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
}


.detailsRow {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  margin-top: auto; 
}

.bookTitle {
  color: #303137;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 9px;
  margin-left: 13px;
}


.bookDescription {
  color: #979797;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 12px;
  margin-right: 12px;
  min-height: 32px; /* Ensures the description has a minimum height */
}

.buttonText {
  color: #D32F2F;
  font-size: 15px;
  font-weight: bold;
}

.bookCover {
  align-self: stretch;
  background: #303137;
  border-radius: 10px;
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  min-height: 275px;
}



.bookImage {
  height: 100%;
  width: auto;
  object-fit: contain;
}


.bookLocation {
  color: #979797;
  font-size: 12px;
  font-weight: bold;
  margin-left: 12px;
  margin-bottom: 10px;
}



.bookCoverWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
