@import "../../vars.css";

.container {
  /* width: 20%; */
  width: 361px;
  height: 428px;
  /* min-width: 361px; */
  /* border: #D32F2F 1px solid; */
}

.detailsButton {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F7F7;
  border-radius: 8px;
  border: 1px solid #D32F2F;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: left;
}

.column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  border-radius: 13px;
  padding-top: 11px;
  padding-bottom: 56px;
  margin-bottom: 123px;
}

.bookContent {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

.favoriteIcon {
  width: 30px;
  height: 30px;
  margin-right: 4%;
  object-fit: fill;
}

.detailsRow {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  margin-left: 12px;
  margin-right: 12px;
}

.bookTitle {
  color: #303137;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 9px;
  margin-left: 13px;
}

.bookDescription {
  color: #979797;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

.buttonText {
  color: #D32F2F;
  font-size: 15px;
  font-weight: bold;
}

.bookCover {
  align-self: stretch;
  background: #C4C4C4;
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 161px;
  margin-bottom: 7px;
  margin-left: 12px;
  margin-right: 12px;
}

.bookCoverWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
