:root {
    /* Colors */
    --color-text: #000000;
    --color-text-white: #ffffff;
    --color-text-gray: #565656;
    --color-darkgray: #37383E;
    --color-primary: #D32F2F;
    --color-secondary: #303137;
    --color-bg: #ffffff;
    --color-bg-red: #ff0000;

    /* Fonts */
    --font-raleway: 'Raleway', sans-serif;
    --font-dmsans: 'DM Sans', sans-serif;
}